[submodule "external/libsecp256k1"]
	path = external/libsecp256k1
	url = https://github.com/bitcoin-core/secp256k1
[submodule "external/IXWebSocket"]
	path = external/IXWebSocket
	url = https://github.com/machinezone/IXWebSocket.git
